html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --theme-dark-aqua: #488a99;
    --theme-gold: #dbae58;
    --theme-charcoal: #4d585b;
    --theme-gray: #b4b4b4;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--theme-dark-aqua);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Navbar */
.navbar {
    background-color: var(--theme-charcoal) !important;
}

    .navbar .nav-link {
        color: var(--theme-gray) !important;
    }

        .navbar .nav-link:hover {
            color: var(--theme-gold) !important;
        }

/* Links */
a {
    color: var(--theme-dark-aqua);
}

    a:hover {
        color: var(--theme-gold);
    }

/* Buttons */
.btn-primary {
    color: #fff;
    background-color: var(--theme-dark-aqua);
    border-color: var(--theme-dark-aqua);
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: var(--theme-charcoal);
        border-color: var(--theme-charcoal);
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--theme-dark-aqua);
    border-color: var(--theme-dark-aqua);
}

/* Footer */
.footer {
    background-color: var(--theme-charcoal);
    color: var(--theme-gray) !important;
}

    .footer a {
        color: var(--theme-gold);
    }

/* Accordion */
.accordion-button {
    background-color: var(--theme-dark-aqua);
    color: #fff;
}

    .accordion-button:not(.collapsed) {
        background-color: var(--theme-charcoal);
        color: white;  
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
    }

    .accordion-button::after {
        filter: brightness(0) invert(1);
    }

    .accordion-button:not(.collapsed)::after {
        filter: none;
    }

    .accordion-button:focus {
        box-shadow: 0 0 0 0.25rem rgba(72, 138, 153, 0.25);
        border-color: var(--theme-dark-aqua);
    }

.accordion-item {
    border-color: var(--theme-dark-aqua);
}
